
body{
	margin: 0;
	padding: 0;
}
ul{
	list-style-type: none;
}
.header{
	width: 100%;
	height: 734px;
	background: url(../images/layer-2-1349x750.png) no-repeat 0 center;
	padding-top: 16px;
}
.header-middle{
	width: 960px;
	height: 670px;
	margin: 0 auto;
}
.header-middle-1{
	background: url(../images/logo-189x55.png) no-repeat 0 center;
	width: 189px;
	height: 55px;
	margin: 0 auto;
}
.header-middle-2{
	width: 960px;
	height: 36px;
	background-color: #c29f4d;
	margin: 14px 0 0 0;
	padding-top: 16px;=-
}
.header-middle-2 ul{
	width: 706px;
	height: 18px;
	padding: 0;
	margin: 0 auto;
}
.header-middle-2 ul li{
	float:left;
	font-size: 16px;
	display: block;
	color: #fff;
}
.header-middle-2 ul .one{
	margin-right: 42px;
}
.header-middle-2 ul .two{
	margin-right: 42px;
}
.header-middle-2 ul .three{
	margin-right: 44px;
}
.header-middle-2 ul .four{
	margin-right: 44px;
}
.header-middle-2 ul .five{
	margin-right: 44px;
}
.header-middle-2 ul .six{
	margin-right: 42px;
}
.header-middle-3{
	width: 960px;
	height: 456px;
	margin-top: 92px;
}
.header-middle-3-1{
	background: url(../images/layer-537x456.png);
	width: 537px;
	height: 456px;
	float: left;
}
.header-middle-3-2{
	width: 377px;
	height: 456px;
	float: right;
}
.header-middle-3-2-1{
	font-size: 34px;
	height: 110px;
	color: #ffffff;
	margin: 0;
}
.header-middle-3-2-1 span{
	color: #ffd062;
}
.header-middle-3-2-2{
	width: 377px;
	height: 286px;
	margin-top: 36px;
	background-color: #d1aa50;
	float: right;
	padding-top: 24px;
}
.header-middle-3-2-2 div .one{
	font-size:32px;
	color:#ffffff;
	text-align:center;
	margin:0;
	line-height:24px;
	height: 42px;
	border-bottom: 1px solid #ffffff;
}
.header-middle-3-2-2 div ul li{
	height: 30px;
	display: block;
	background-color: #ecdcb7;
	padding-top: 16px;
}
.header-middle-3-2-2 div ul li p{
	font-size: 13px;
	color: #1e1e1e;
	line-height: 12px;
	margin: 0 0 0 10px;
}
.header-middle-3-2-2 div span i{
	background: url(../images/lockpx-15x16.png) no-repeat 0 center;
	width: 15px;
	height: 16px;
	display: block;
	float: left;
}
.content-1{
	width: 100%;
	height: 632px;
	background-color: #fff;
	padding-top: 90px;
}
.content-1-1{
	width: 940px;
	height: 538px;
	margin: 0 auto;
} 
.content-1-1-1{
	width: 794px;
	height: 50px;
	margin: 0 auto;
	border-bottom: 2px solid #c29f4d;
	margin-bottom: 10px;
}
.content-1-1-1 span{
	font-size:36px; 
	color:#c29f4d;
	display: block;
	text-align: center; 
}
.content-1-1-2{
	width: 940px;
	height: 196px;
	margin-top: 24px;
}
.content-1-1-2 .one{
	font-size: 26px;
	color: #8e8e8e;
	margin: 0;
	text-align: center;
}
.content-1-1-2 span{
	color: #c29f4d;
}
.content-1-1-2 .two{
	font-size: 16px;
	color: #8e8e8e;
	margin: 24px 0 0 0;
	text-align: center;
	height: 77px;
}
.content-1-1-2 .three{
	font-size: 26px;
	color: #8e8e8e;
	margin:36px 0 0 0;
	text-align: center;
}
.content-1-1-3{
	margin-top:30px;
	width: 940px;
	height: 230px;
}
.content-1-1-3 i{
	width: 283px;
	height: 230px;
	display: block;
	float: left;
}
.content-1-1-3 .hover{
	background: url(../images/hover-283x230.png) no-repeat 0 center;
	margin-right: 44px;
}
.content-1-1-3 .product-2{
	background: url(../images/product-2-283x230.png) no-repeat 0 center;
	margin-right: 44px;
}
.content-1-1-3 .product-3{
	background: url(../images/product-3-283x230.png) no-repeat 0 center;
}
.content-2{
	background: url(../images/bg-1349x700.png) no-repeat 0 center;
	width: 100%;
	height: 650px;
	padding-top: 50px;
}
.content-2-1{
	width: 960px;
	height: 536px;
	margin: 0 auto;
}
.content-2-1-1{
	width: 960px;
	height: 100px;'
	margin: 0 auto;
	border-bottom: 2px solid #c29f4d;
	margin-bottom: 14px;
}
.content-2-1-1 span{
	font-size: 36px;
	color: #c29f4d;
	float: left;
	margin-right: 100px;
}
.content-2-1-1 i{
	background:url(../images/rectangle-2x100.png) no-repeat 0 center;
	width:2px;
	height:100px;
	display: block;
	float: left;
	margin-right: 20px;
}
.content-2-1-1 p{
	float: left;
	font-size: 18px;
	color: #f0f0f0;
}
.content-2-1-2{
	width: 960px;
	height: 254px;
	margin-top: 80px;
}
.content-2-1-2 .one{
	font-size: 14px;
	color: #f0f0f0;
	margin: 0;
}
.content-2-1-2 .two{
	margin: 18px 0 0 0;
	font-size: 14px;
	color: #f0f0f0;
}
.content-2-1-2 .three{
	font-size: 16px;
	color:#f0f0f0;
	margin: 38px 0 0 0;
}
.content-2-1-2 span{
	color:#c29f4d;
}
.content-2-1-3{
	width: 650px;
	height: 94px;
	margin: 20px 0 0 0;
}
.content-2-1-3 ul li{
	font-size: 14px;
	color: #f0f0f0;
	width: 290px;
	height: 16px;
}
.content-2-1-3 ul{
	padding: 0;
	margin: 0 0 0 20px;
	list-style-image: url(../images/shape-15x12.png);
	width: 290px;
	height:94px;
}
.content-2-1-3-1{
	float: left;
}
.content-2-1-3-2{
	margin-left: 70px;
	float: right;
}
.content-3{
	width: 100%;
	height: 644px;
	padding-top: 86px;
}
.content-3-1{
	width: 960px;
	height: 568px;
	margin: 0 auto;
}
.content-3-1-1{
	width: 960px;
	height: 102px;
	border-bottom: 2px solid #c29f4d;
}
.content-3-1-1-1{
	font-size: 17px;
	color:#8e8e8e;
	margin: 28px 120px 0 0;
	float: left;
}
.content-3-1-1 i{
	background:url(../images/rectangle-2x100.png) no-repeat 0 center;
	width:2px;
	height:100px;
	display: block;
	float: left;
}
.content-3-1-1-2{
	font-size: 35px;
	color: #c29f4d;
	float:right;
	margin: 0;
}
.content-3-1-2{
	width: 960px;
	height: 130px;
	margin-top: 30px;
}
.content-3-1-2-1{
	font-size: 26px;
	color: #8e8e8e;
	text-align: center;
	margin: 0;
} 
.content-3-1-2 span{
	color: #c29f4d;
}
.content-3-1-2-2{
	font-size: 16px;
	color:#8e8e8e;
	text-align: center;
	margin-top:24px; 
}
.content-3-1-3{
	width: 960px;
	height: 240px;
	margin-top:56px;
}
.content-3-1-3 i{
	display: block;
	width: 300px;
	height: 240px;
	float: left;
}
.content-3-1-3 .w-1{
	background: url(../images/w-1-300x240.png) no-repeat 0 center;
	margin-right: 30px;
}
.content-3-1-3 .w-2{
	background: url(../images/w-2-300x240.png) no-repeat 0 center;
	margin-right: 30px;
}
.content-3-1-3 .w-3{
	background: url(../images/w-3-300x240.png) no-repeat 0 center;
}
.content-4{
	width: 100%;
	height: 88px;
	background-color: #000000;
	padding-top: 26px;
}
.content-4-1{
	width: 960px;
	height: 72px;
	margin: 0 auto;
}
.content-4-1 p{
	font-size: 36px;
	color: #dbdbdb;
	margin: 18px 0 0 0;
	float: left;
	font-weight: bold; 
}
.content-4-1 div{
	width: 298px;
	height: 72px;
	background-color: #c29f4d;
	float: right;	
}
.content-4-1 div .one{
	color: #ffffff;
	font-size:25px;
	margin-top: 10px;
	text-align: center; 
	display: block;
}
.content-4-1 div .two{
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	display: block;
}
.content-5{
	width: 100%;
	height: 292px;
	padding-top: 110px;
}
.content-5-1{
	width: 960px;
	height: 140px;
	margin:0 auto;
}
.content-5-1 div i{
	width: 140px;
	height: 140px;
	display: block;
	float: left;
}
.content-5-1-1{
	width: 458px;
	height: 140px;
	float: left;
}
.content-5-1 div div{
	height: 140px;
	float: right;
}
.content-5-1-1 i{
	background: url(../images/women-140x140.png)no-repeat 0 center;
}
.content-5-1-2{
	width: 458px;
	height: 140px;
	float: right;
}
.content-5-1-2 i{
	background: url(../images/man-140x140.png)no-repeat 0 center;
}
.content-5-1 div div p{
	font-size: 16px;
	color: #959595;
	margin: 0;
}
.content-5-1 div div span{
	font-size: 14px;
	color: #c29f4d;
	display: block;
	margin-top: 8px;
}
.content-5-2{
	width: 960px;
	height: 8px;
	margin: 0 auto;
	margin-top: 54px;
}
.content-5-2 i{
	background: url(../images/dots-34x8.png) no-repeat 0 center;
	width: 34px;
	height: 8px;
	margin: 0 auto;
	display: block;
}
.content-6{
	background: url(../images/bg-1-1349x654.png) no-repeat 0 center;
	width: 100%;
	height: 604px;
	padding-top: 50px;
}
.content-6-1{
	width: 960px;
	height: 566px;
	margin: 0 auto;
}
.content-6-1-1{
	width: 434px;
	height: 566px;
	float: left;
}
.content-6-1-1 .one{
	height: 80px;
	font-size: 32px;
	color: #ffffff;
	margin: 0;
}
.content-6-1-1 span{
	color: #ffd062;
}
.content-6-1-1 .two{
	font-size: 15px;
	color: #ffffff;
	margin: 24px 0 0 0;
}
.content-6-1-1 .three{
	list-style-image: url(../images/v-14x14.png);
	width: 300px;
	height: 102px;
	margin: 60px 0 0 54px;
	padding: 0;
}
.content-6-1-1 .three li{
	font-size: 22px;
	color: #ffffff;
	width: 300px;
	height: 24px;
}
.content-6-1-1 .four{
	width: 208px;
	height: 34px;
	background-color: #c29f4d;
	margin-top: 32px; 
	padding-top: 12px;
}
.content-6-1-1 .four span{
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	display: block;
}
.content-6-1-2{
	background: url(../images/only-494x566.png) no-repeat 0 center;
	width: 496px;
	height: 566px;
	float: right;
}
.content-7{
	width:100%;
	height: 633px; 
}
.content-7-1{
	width: 731px;
	height: 633px;
	float: left;
}
.content-7-1-1{
	width: 509px;
	height: 220px;
	background-color: #e7e7e7;
	padding-top: 60px;
	padding-left: 222px;
}
.content-7-1-1 div i{
	background: url(../images/envelope-76x64.png) no-repeat 0 center;
	width: 76px;
	height: 64px;
	display: block;
	float: left;
}
.content-7-1-1 div p{
	font-size: 12px;
	margin: 0;
	color: #3a3a3a;
	height: 64px;
	float: right;
}
.content-7-1-1-1{
	margin: 0;
	height: 66px;
	width: 290px;
}
.content-7-1-1-2{
	margin-top: 30px;
	height: 66px;
	width: 290px;
}
.content-7-1-2{
	width: 509px;
	height: 114px;
	background-color: #1e1e1e;
	padding-top: 20px;
	padding-left: 222px;
}
.content-7-1-2-1{
	width: 504px;
	height: 34px;
	border-bottom: 2px solid #545454;
}
.content-7-1-2-1 p{
	font-size: 12px;
	color:#ffffff;
	margin: 0;
}
.content-7-1-2-2{
	background: url(../images/bg-3-506x32.png) no-repeat 0 center;
	width: 506px;
	height: 32px;
	margin-top: 18px;
}
.content-7-1-3{
	width: 509px;
	height: 187px;
	background-color: #e7e7e7;
	padding-top: 32px;
	padding-left: 222px;
}
.content-7-1-3-1{
	width: 492px;
	height: 20px;
	border-bottom: 1px solid #545454;
}                  
.content-7-1-3-1 p{
	font-size: 12px;
	color:#6e6e6e;
	margin: 0;
}
.content-7-1-3-2{
	width:509px;
	height: 150px;
	margin-top: 8px;
}
.content-7-1-3-2 span{
	font-size: 2px;
	color: #6e6e6e;
	word-spacing:0;
	display: block;
} 
.content-7-1-3-2 .one{
	margin: 0;
	width: 509px;
	height: 58px;
}
.content-7-1-3-2 .one{
	margin-top: 16px;
	width: 509px;
	height: 58px;
}

.content-7-2{
	background-color: #d1aa50;
	width: 618px;
	height: 559px;
	float: right;
	padding-top: 74px;
} 

.content-7-2-1{
	font-size:36px;
	color:#ffffff;
	text-align:center;
	margin:0;
	line-height:24px;
	height: 42px;
	border-bottom: 1px solid #ffffff;
}
.content-7-2 div ul li{
	height: 30px;
	display: block;
	background-color: #ecdcb7;
	padding-top: 16px;
}
.content-7-2 div ul li p{
	font-size: 13px;
	color: #1e1e1e;
	line-height: 12px;
	margin: 0 0 0 10px;
}
.content-7-2 div span i{
	background: url(../images/lockpx-15x16.png) no-repeat 0 center;
	width: 15px;
	height: 16px;
	display: block;
	float: left;
}
.footer{
	width: 100%;
	height: 80px;
	background-color:#2d2d2d;
	padding-top: 20px;
}
.footer-middle{
	width: 960px;
	height: 62px;
	margin: 0 auto;
}
.footer-middle-1{
	float: left;
}
.footer-middle-1 i{
	background: url(../images/logo-153x45.png) no-repeat 0 center;
	width: 153px;
	height: 45px;
	display: block;
	margin-bottom: 3px;
}
.footer-middle-1 p{
	font-size: 10px;
	color: #ffffff;
	margin: 0;
}
.footer-middle-2{
	background: url(../images/facebook-296x56.png) no-repeat 0 center;
	width: 296px;
	height: 56px;
	float: right;
}
